{% extends "app_base_html.html" %}
{% load static %}
{% load humanize %}

{% block title %}Tenant Bil{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}


{% block content %}

    <p style="font-size:150%;color: black">ยินดีต้อนรับ<span style="color:blue; font-size: 1.5em"> คุณ {{ fn }} </span> สู่ ชลลดาอพาร์ตเม้นต์ ...</p>
    <p style="font-size:120%;color: blue"><strong>รายการค่าบริการของท่าน</strong> จะปรากฏ หลังวันที่ 26 ของเดือน</p>
    <p style="font-size:120%;color: blue">โปรดอ่าน <strong>ข้อมูลที่ควรทราบ</strong> ถ้ามีข้อสงสัยใดๆ โทร. 0832461546 คุณ ต้อม(ชลลดา) ได้ตลอดเวลา</p>

{% endblock %}